<div class="container pt-4 pb-5">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    filtros
                </div>
                <div class="card-body">
                    aqui van los filtros
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                    <app-event-card></app-event-card>
                </div>
            </div>
        </div>
    </div>
</div>
