<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Users</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
  
        <div class="modal-body p-0">
          <div class="modal-body-scroller">
            <ul class="media-list media-list-users list-group">
              <li class="list-group-item">
                <div class="media w-100">
                  <img class="media-object d-flex align-self-start mr-3" src="assets/img/avatar-fat.jpg">
                  <div class="media-body">
                    <button class="btn btn-secondary btn-sm float-right">
                      <span class="glyphicon glyphicon-user"></span> Follow
                    </button>
                    <strong>Jacob Thornton</strong>
                    <p>@fat - San Francisco</p>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media w-100">
                  <img class="media-object d-flex align-self-start mr-3" src="assets/img/avatar-dhg.png">
                  <div class="media-body">
                    <button class="btn btn-secondary btn-sm float-right">
                      <span class="glyphicon glyphicon-user"></span> Follow
                    </button>
                    <strong>Dave Gamache</strong>
                    <p>@dhg - Palo Alto</p>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="media w-100">
                  <img class="media-object d-flex align-self-start mr-3" src="assets/img/avatar-mdo.png">
                  <div class="media-body">
                    <button class="btn btn-secondary btn-sm float-right">
                      <span class="glyphicon glyphicon-user"></span> Follow
                    </button>
                    <strong>Mark Este es otro</strong>
                    <p>@mdo - San Francisco</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>