<div class="card card-profile mb-4">
    <div class="card-header" style="background-image: url(assets/img/iceland.jpg);"></div>
    <div class="card-body text-center">
        <a href="profile/index.html">
            <img class="card-profile-img" src="assets/img/avatar-dhg.png">
        </a>

        <h6 class="card-title">
            <a class="text-inherit" href="profile/index.html">Dave Gamache</a>
        </h6>

        <p class="mb-4">I wish i was a little bit taller, wish i was a baller, wish i had a girl… also.</p>

        <ul class="card-menu">
            <li class="card-menu-item">
                <a href="#userModal" class="text-inherit" data-toggle="modal">
                    Friends
                    <h6 class="my-0">12M</h6>
                </a>
            </li>

            <li class="card-menu-item">
                <a href="#userModal" class="text-inherit" data-toggle="modal">
                    Enemies
                    <h6 class="my-0">1</h6>
                </a>
            </li>|
        </ul>
    </div>
</div>